.about {
  background: url(../img/about/bgd_about.jpg) no-repeat center/cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about_element {
  padding: 0 10px;
  max-width: 1185px;
}

.about_element_greeting {
  text-align: center;
}

.about_element_greeting h3 {
  color: black;
}

.about_element_greeting h2 {
  color: #8e561b;
  font-size: 40px;
  font-weight: 100;
}

.about_element_greeting p {
  margin: 0 auto;
  color: #8e561b;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
}

.about_element_doit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.about_element_doit_img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.about_element_doit_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about_element_doit_proces-history {
  max-width: 362px;
  margin-left: 30px;
}

.about_element_doit_proces-history h5 {
  color: #3e2d35;
  font-size: 20px;
  font-family: 'OpenSans-Bold';
}

.about_element_doit_proces-history p {
  color: #8e561b;
  font-size: 14px;
  margin-bottom: 35px;
}

.about_element_doit_proces-history_btn {
  position: relative;
}

.about_element_doit_proces-history_btn button {
  outline: 0;
  border: none;
  color: white;
  width: 170px;
  height: 48px;
  background-color: #0c1a2d;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .about_element_doit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about_element_doit_proces-history {
    max-width: 768px;
    text-align: center;
    margin-top: 20px;
  }
  .about_element_doit_proces-history_btn {
    text-align: right;
    right: 30px;
    bottom: 20px;
  }
}
