.news {
  background: url(../img/slider_block/layer_1.jpg) no-repeat center/cover;
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news_slider {
  max-width: 100%;
}

.news_slider_blocks {
  outline: none;
}

.news_slider_blocks_text {
  max-width: 1185px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  padding: 0 10px 0;
}

.news_slider_blocks_text h6 {
  font-size: 28px;
  font-weight: 400;
}

.news_slider_blocks_text h1 {
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.36);
  font-size: 65px;
  text-transform: uppercase;
}

.news_slider_blocks_text h1 span {
  color: #f4bb36;
}

@media (max-width: 768px) {
  .news_slider_blocks_text h1 {
    font-size: 45px;
  }
}

.news_slider_blocks_text p {
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 850px;
}

.news_slider_blocks_sl-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.news_slider_blocks_sl-img img {
  max-width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.btn {
  padding: 8px 20px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  border: 2px solid #f4bb36;
  outline: none;
  color: white;
  background-color: transparent;
  margin: 20px;
  white-space: nowrap;
}

.btn::after, .btn::before {
  content: "";
  position: absolute;
  border: 2px solid #f4bb36;
  width: calc(100% - 5px);
  height: 20px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn::after {
  top: -8px;
  left: -8px;
  border-right: none;
  border-bottom: none;
}

.btn::before {
  bottom: -8px;
  right: -8px;
  border-left: none;
  border-top: none;
}

.btn:hover:after, .btn:hover:before {
  width: calc(100% - 35px);
  height: 40px;
}

.slick-dots li button {
  border: 5px solid #f4bb36;
  border-radius: 50%;
  opacity: 0.75;
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
}

.slick-dots li.slick-active button {
  opacity: 1;
}
