@import url("../scss/resrt.css");
@import url("../scss/button.css");
nav {
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul li:after {
  content: "\007C";
  margin: 0 30px 0;
}

@media (max-width: 1024px) {
  nav ul li:after {
    margin: 0 20px 0;
  }
}

nav ul li:last-child::after {
  content: "";
  margin: 0;
}

nav ul a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 664px;
  height: 13px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
}

.burger:before, .burger:after,
.burger span {
  content: "";
  position: absolute;
  background-color: #000;
  width: 30px;
  height: 4px;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  border-radius: 2px;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger span {
  top: 8px;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.news {
  background: url(../img/slider_block/layer_1.jpg) no-repeat center;
  background-size: cover;
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news_slider {
  max-width: 90%;
}

.news_slider_block_text {
  outline: none;
  text-align: center;
  font-family: "Open Sans";
  color: #ffffff;
}

.news_slider_block_text h3 {
  margin: 120px 0 0 0;
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .news_slider_block_text h3 {
    margin: 30px 0 0 0;
  }
}

.news_slider_block_text h1 {
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.36);
  font-size: 65px;
  text-transform: uppercase;
}

.news_slider_block_text h1 span {
  color: #f4bb36;
}

@media (max-width: 768px) {
  .news_slider_block_text h1 {
    font-size: 45px;
  }
}

.news_slider_block_text p {
  font-size: 15px;
  font-weight: 400;
  max-width: 900px;
  margin: 0 auto;
  text-transform: none;
}

.news_slider_block_sl-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news_slider_block_sl-img img {
  max-height: 500px;
}

.btn {
  padding: 8px 20px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  border: 2px solid #f4bb36;
  outline: none;
  color: white;
  background-color: transparent;
  margin: 20px;
  white-space: nowrap;
}

.btn::after, .btn::before {
  content: "";
  position: absolute;
  border: 2px solid #f4bb36;
  width: calc(100% - 5px);
  height: 20px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn::after {
  top: -8px;
  left: -8px;
  border-right: none;
  border-bottom: none;
}

.btn::before {
  bottom: -8px;
  right: -8px;
  border-left: none;
  border-top: none;
}

.btn:hover:after, .btn:hover:before {
  width: calc(100% - 35px);
  height: 40px;
}

#ball {
  width: 50px;
  height: 50px;
  background-color: #f4bb36;
  border-radius: 50%;
  left: calc(50% - 25px);
  top: 5%;
  position: absolute;
}

#ball span {
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 800;
  margin: 12px 0;
  text-transform: uppercase;
  line-height: 14px;
}

@media (max-width: 1024px) {
  #ball {
    display: none;
  }
}
