.workflow {
  background: url(../img/workflow/bgr_work.jpg) no-repeat center/cover;
  width: 100%;
}

.workflow_element {
  display: block;
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 10px 40px;
}

.workflow_element_greeting h3 {
  color: #f4bb36;
}

.workflow_element_greeting span {
  display: block;
  text-align: center;
  color: #414141;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.workflow_element_processes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.workflow_element_processes_process {
  margin: 60px 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .workflow_element_processes_process {
    margin: 30px 0 0 0;
  }
}

.workflow_element_processes_process_img {
  cursor: pointer;
  height: 54px;
  width: 54px;
  border: 1px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 12px;
}

.workflow_element_processes_process_img img {
  height: 26px;
  margin: 0 12px;
}

.workflow_element_processes_process_text h5 {
  margin-top: 10px;
}

.workflow_element_processes_process_text p {
  max-width: 253px;
  color: #414141;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "Lorem Ipsu" */
  letter-spacing: 0.14px;
}
