@font-face {
    font-family: 'Open-sans';
    src: url(../fond/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fond/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url(../fond/Open_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url(../fond/Open_Sans/OpenSans-Light.ttf.ttf);
}

* {
    font-family: 'Open-sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'OpenSans-Bold';
    cursor: default
}

h3 {
    padding-top: 60px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'OpenSans-Bold';
    cursor: default
}

h5 {
    font-size: 20px;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    cursor: default
}

p {
    margin-top: 15px;
    cursor: default
}

body {
    margin: 0 auto;
    max-width: 3560px;
}