$yel: #f4bb36;
$grey: #414141;
.contacts {
    padding: 0 10px;
    color: white;
    background: url(../img/contact/bgr_contacts.jpg)no-repeat center / cover;
    &_form-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px 0 50px 0;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &_form {
        display: flex;
        flex-direction: column;
        width: 600px;
        input,
        textarea {
            color: white;
            border: 1px solid #c5c5c5;
            background: rgba(255, 255, 255, 0);
            outline: none;
            margin-top: 10px;
            resize: none;
            width: 100%;
            &:focus {
                border: 2px solid rgb(255, 255, 255);
            }
            &::placeholder {
                font-size: 14px;
                font-style: italic;
                padding: 0 10px 0px;
            }
        }
        textarea {
            height: 80px;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &_sc-info {
        padding: 0 0 0 50px;
        @media (max-width: 768px) {
            text-align: center;
            margin: 0 auto;
            padding: 0;
        }
    }
    &_info {
        h5 {
            text-transform: none;
        }
        span {
            width: 20px;
            img {}
        }
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &_tel,
    &_mail,
    &_address {
        @media (max-width: 768px) {
            text-align: center;
        }
        margin-top: 25px;
        display: flex;
        p {
            margin: 0 0 0 25px;
        }
    }
    &_socet {
        h5 {
            margin-top: 20px;
            text-transform: none;
        }
        &_img {
            display: flex;
            flex-direction: row;
            img {
                background: white;
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }
        }
    }
}