$yel: #f4bb36;
$grey: #414141;
.news {
    background: url(../img/slider_block/layer_1.jpg) no-repeat center / cover;
    //  background-size: cover;
    height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_slider {
        margin-top: 65px;
        max-width: 100%;
        &_blocks {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            outline: none;
            &_text {
                max-width: 1185px;
                margin: 0 auto;
                // margin-top: 120px;
                text-align: center;
                color: #ffffff;
                padding: 0 10px 0;
                h6 {
                    font-size: 28px;
                    font-weight: 400;
                }
                h1 {
                    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.36);
                    font-size: 65px;
                    text-transform: uppercase;
                    span {
                        color: $yel;
                    }
                    @media (max-width: 768px) {
                        font-size: 45px;
                    }
                }
                p {
                    font-size: 15px;
                    font-weight: 400;
                    margin: 0 auto;
                    max-width: 850px;
                }
            }
            &_sl-img {
                display: flex;
                justify-content: center;
                img {
                    max-width: 100%;
                    max-height: 450px;
                    object-fit: contain;
                }
            }
        }
    }
}

.btn {
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    border: 2px solid $yel;
    outline: none;
    color: white;
    background-color: transparent;
    margin: 20px;
    white-space: nowrap;
    &::after,
    &::before {
        content: "";
        position: absolute;
        border: 2px solid $yel;
        width: calc(100% - 5px);
        height: 20px;
        transition: 0.5s ease;
    }
    &::after {
        top: -8px;
        left: -8px;
        border-right: none;
        border-bottom: none;
    }
    &::before {
        bottom: -8px;
        right: -8px;
        border-left: none;
        border-top: none;
    }
    &:hover:after,
    &:hover:before {
        width: calc(100% - 35px);
        height: 40px;
    }
}

.slick-dots li button {
    border: 5px solid $yel;
    border-radius: 50%;
    opacity: 0.75;
    width: 10px;
    height: 10px;
}

.slick-dots li button:before {
    content: "";
    width: 10px;
    height: 10px;
}

.slick-dots li.slick-active button {
    opacity: 1;
}