// @import url("button.css");
@import url("reset.css");
@import url("const.css");
@import url("header.css");
@import url("news.css");
@import url("workflow.css");
@import url("about.css");
@import url("portfolio.css");
@import url("team.css");
@import url("contact.css");
$yel: #f4bb36;
.content {
    display: flex;
    flex-direction: column;
}

.slick-next,
.slick-prev {
    width: 10%;
    z-index: 1;
    height: 450px;
}

.slick-prev:before,
.slick-next:before {
    color: $yel;
}

.slick-prev {
    z-index: 2;
}

.slick-dots li button {
    border: 5px solid $yel;
    border-radius: 50%;
    opacity: 0.75;
}

.slick-dots li button:before {
    content: "";
}

.slick-dots li.slick-active button {
    opacity: 1;
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
}