@import url("../scss/resrt.css");
@import url("../scss/button.css");
nav {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    // position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    ul {
        display: flex;
        li {
            list-style-type: none;
            &:after {
                content: "\007C";
                margin: 0 30px 0;
                @media (max-width: 1024px) {
                    margin: 0 20px 0;
                }
            }
            &:last-child::after {
                content: "";
                margin: 0;
            }
        }
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;
            width: 664px;
            height: 13px;
            color: #000000;
            font-family: "Open Sans";
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.burger {
    position: relative;
    width: 30px;
    height: 20px;
    // transition: all 0.5s ease 0s;
    &:before,
    &:after,
    span {
        content: "";
        position: absolute;
        background-color: #000;
        width: 30px;
        height: 4px;
        transition: all 0.1s ease 0s;
        border-radius: 2px;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    span {
        top: 8px;
    }
    display: none; //!!
    @media (max-width: 768px) {
        display: block;
    }
}

.news {
    // background: url(../img/slider_block/layer_1.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.36);
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_slider {
        max-width: 90%;
        &_block {
            &_text {
                outline: none;
                text-align: center;
                font-family: "Open Sans";
                color: #ffffff;
                h3 {
                    // padding: 10px 10px;
                    margin: 120px 0 0 0;
                    font-size: 28px;
                    font-weight: 400;
                    // border: 2px solid #384e5d;
                    @media (max-width: 768px) {
                        margin: 30px 0 0 0;
                    }
                }
                h1 {
                    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.36);
                    font-size: 65px;
                    text-transform: uppercase;
                    // line-height: 64px;
                    span {
                        color: #f4bb36;
                    }
                    @media (max-width: 768px) {
                        font-size: 45px;
                        // line-height: 34px;
                    }
                }
                p {
                    font-size: 15px;
                    font-weight: 400;
                    max-width: 900px;
                    margin: 0 auto;
                    text-transform: none;
                }
            }
            &_sl-img {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-height: 500px;
                }
            }
        }
    }
}

.btn {
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    border: 2px solid #f4bb36;
    outline: none;
    color: white;
    background-color: transparent;
    margin: 20px;
    white-space: nowrap;
    &::after,
    &::before {
        content: "";
        position: absolute;
        border: 2px solid #f4bb36;
        width: calc(100% - 5px);
        height: 20px;
        transition: 0.5s ease;
    }
    &::after {
        top: -8px;
        left: -8px;
        border-right: none;
        border-bottom: none;
    }
    &::before {
        bottom: -8px;
        right: -8px;
        border-left: none;
        border-top: none;
    }
    &:hover:after,
    &:hover:before {
        width: calc(100% - 35px);
        height: 40px;
    }
}

#ball {
    width: 50px;
    height: 50px;
    background-color: #f4bb36;
    border-radius: 50%;
    left: calc(50% - 25px);
    top: 5%;
    position: absolute;
    span {
        display: block;
        text-align: center;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 800;
        margin: 12px 0;
        text-transform: uppercase;
        line-height: 14px;
    }
    @media (max-width: 1024px) {
        display: none;
    }
}