$yel: #f4bb36;
$grey: #414141;
$grey2:#6f6e6c;
.team {
    &_element {
        padding: 0 10px 0;
        &_greeting {
            h3 {
                color: $yel;
            }
            p {
                text-align: center;
                color: $grey2;
                font-size: 15px;
                font-style: italic;
            }
        }
        &_carts {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &_cart {
                width: 370px;
                border: 1px solid #cacaca;
                background: #ffffff;
                margin: 25px 12px 0;
                border-bottom: 11px solid $yel;
                &_img {
                    margin: 30px auto 20px;
                    width: 274px;
                    height: 233px;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &_text {
                    text-align: center;
                    // font-family: "Open Sans";
                    color: $grey2;
                    max-width: 274px;
                    margin: 0 auto 5px;
                    h5 {
                        font-family: 'OpenSans-Bold';
                        text-transform: none;
                        color: #000;
                    }
                    span {
                        display: block;
                        margin-top: 10px;
                        font-size: 20px;
                        color: #000;
                    }
                    p {
                        font-weight: 100;
                        font-size: 15px;
                        font-family: "Open Sans";
                        font-style: italic;
                    }
                    &_socet {
                        margin: 0 auto;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        a {
                            img {
                                width: 32px;
                                object-fit: cover;
                            }
                        }
                    }
                }
                &:hover {
                    background: url(../img/our_team/bgr_team_cart.jpg);
                    h5,
                    span,
                    p,
                    {
                        color: white;
                    }
                    a {
                        img {
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
    }
}